:host{
    background-color:white;
    border-radius: 5px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px;
}

.form-group{
    width: 70%;
}